alias dstopall='docker stop $(sudo docker ps -aq)'
alias drm='docker rm $(docker ps -a -q)'
alias dprune='ddelimages ; dprunevol ; dprunesys'
alias dexec='docker exec -ti'
alias dps='docker ps -a'
alias dpss='docker ps -a --format "table {{.Names}}\t{{.Status}}\t{{.Image}}"'
alias ddf='docker system df'
alias dlogs='docker logs -tf --tail="50" '
alias dstats='docker stats -a --format "table {{.Name}}\t{{.CPUPerc}}\t{{.MemUsage}}\t{{.NetIO}}\t{{.BlockIO}}"'

# DOCKER COMPOSE
alias docker compose='docker-compose'
alias tv='touch compose.yml && vim compose.yml'
alias dcu="docker compose up -d"
alias dcd="docker compose down"
alias dcr="dcd && dcu"

# DOCKER COMPOSE CHANGE DIR DC UP/DOWN/RELOAD
dccu ()
{
    cd "$1" && dcu && cd ~/container
}
dccd ()
{
    cd "$1" && dcd && cd ~/container
}
dccr ()
{
    cd "$1" && dcr && cd ~/container 
}

# FS
mkcd ()
{
    mkdir -p -- "$1" &&
       cd -P -- "$1"
}
alias lsa="ls -lha"
alias ip='ip --color=auto'

# VIM
#alias vim='nvim'
alias vi='vim'
alias vimi='vim'

# PYTHON
alias python='python3'
alias pip='pip3'
alias sv='~/scripts/cutvideo.sh'

# MISC
alias reload='source ~/.bashrc'
alias ipcheck='~/scripts/ipcheck.sh && ~/scripts/dnsleaktest.sh'
alias sudo=''
alias cata='cat'
alias gs='git status && git pull'
alias gcp='git add ~/scripts ~/services ~/.aliases ~/.bashrc ~/.profile && git commit -m "updates configs" && git push'
