[credential "https://github.com"]
	helper = 
	helper = !${which gh} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !${which gh} auth git-credential
[user]
	name = Aurelios
	email = write.aurel@gmail.com
