[Unit]
Description='set tmp folders owner to user'

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /root/scripts/chown.sh
Type=simple
User=root
Group=root
Restart=on-failure
