[Unit]
Description=wg

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /root/scripts/wg.sh
Type=simple
User=root
Group=root
Restart=on-failure
